/* --- CONTAINER GLOBAL --- */
.cover-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
  background: white;
  font-family: "Arial", sans-serif;
  color: #000;
  box-sizing: border-box;
}

/* --- HEADER AVEC LES 3 LOGOS --- */
.cover-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.cover-logo-small {
  width: 120px;
  height: auto;
}

.cover-logo-main {
  width: 180px;
  height: auto;
}

/* --- TITRE PRINCIPAL --- */

.cover-title-row {
 
  align-items: center;
}

.cover-title-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
height: 70px;
padding-right:250px;
background-color:#236eb459;
}

.cover-spacer {
background-color:#236eb4;
width: 60px;
height: 70px;
}

.cover-title, h1{
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.4;
  margin-left: 20px; 
  color: #236eb4;
  
}

.cover-subtitle {
  font-size: 18px;
  font-weight: bold;
}

/* --- BLOC D’INFOS DU CHEVAL --- */
.cover-block {
  padding: 20px;
  margin-bottom: 40px;
}

.cover-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-right: 1px solid #918b8b;
}

.cover-row:last-child {
  border-bottom: none;
}

.label {
  font-weight:400;
  font-size: 14px;
  color: #236eb4;
  margin-left:30px;
  width: 40%;
}

.name-value {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top:70px;

}

.value {
  width: 60%;
  text-align: right;
}

/* --- FOOTER --- */
.cover-footer {
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
  line-height: 1.4;
}
