#root{
background-color: #041c36;
}

.register-container {
  max-width: 450px;
  margin: 0 auto;
  padding: 60px 20px;
  text-align: center;
}

.register-title {
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 20%;
  font-weight: 700;
  color: #ffe603
}

.register-subtitle {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  margin-top: 10%
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  background-color: #fff;
  border-radius: 24px;
  margin-top: 20%;
  color:#041c36

}

.register-form label {
  font-weight: 600;
}

.register-form input {
  padding: 12px;
  border: 1px solid #fff;
  border-radius: 6px;
  font-size: 1rem;
}

.register-button {
  margin-top: 10px;
  padding: 14px;
  background-color: #ffe603;
  color: #041c36;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.register-button:hover {
  border: #041c36 2px solid;
}

.register-login {
  margin-top: 20px;
  font-size: 1.2rem;
  color:#fff;
}

.register-login a {
  color: #ffe603;
  font-weight: 600;
  text-decoration: none;
}

/* Responsive Register */
@media (max-width: 768px) {
  .register-form {
    width: 90%;
    padding: 30px;
  }

  .register-title {
    font-size: 22px;
  }

  .register-subtitle {
    font-size: 13px;
  }

  .register-form input {
    font-size: 14px;
    padding: 10px;
  }

  .register-button {
    padding: 12px;
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .register-form {
    padding: 20px;
  }

  .register-title {
    font-size: 20px;
  }
}
