:root {
  --sans: 'Inter', system-ui, sans-serif;
  --heading: 'Montserrat', sans-serif;
  
  font-family: var(--sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
}